<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/png" href="/images/icon.png">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>doge-chat</title>
    <script type="module" crossorigin src="/assets/js/index-Bzj2V3tG.js"></script>
    <link rel="modulepreload" crossorigin href="/assets/js/@vue-D8ccHf85.js">
    <link rel="modulepreload" crossorigin href="/assets/js/lodash-es-WEemOz_S.js">
    <link rel="modulepreload" crossorigin href="/assets/js/@vueuse-YuAKVQ9s.js">
    <link rel="modulepreload" crossorigin href="/assets/js/@element-plus-C_ANMyYu.js">
    <link rel="modulepreload" crossorigin href="/assets/js/@popperjs-D9SI2xQl.js">
    <link rel="modulepreload" crossorigin href="/assets/js/@ctrl-r5W6hzzQ.js">
    <link rel="modulepreload" crossorigin href="/assets/js/dayjs-wmEaokm2.js">
    <link rel="modulepreload" crossorigin href="/assets/js/async-validator-CRbnkQr6.js">
    <link rel="modulepreload" crossorigin href="/assets/js/memoize-one-BdPwpGay.js">
    <link rel="modulepreload" crossorigin href="/assets/js/normalize-wheel-es-B6fDCfyv.js">
    <link rel="modulepreload" crossorigin href="/assets/js/@floating-ui-CtcGg-6p.js">
    <link rel="modulepreload" crossorigin href="/assets/js/element-plus-7i_M9HxI.js">
    <link rel="modulepreload" crossorigin href="/assets/js/vue-C0Uo1qJo.js">
    <link rel="modulepreload" crossorigin href="/assets/js/vue3-markdown-it-vYJuc-oG.js">
    <link rel="modulepreload" crossorigin href="/assets/js/axios-DmrN97jF.js">
    <link rel="stylesheet" crossorigin href="/assets/static/element-plus-2R9VomIw.css">
    <link rel="stylesheet" crossorigin href="/assets/static/index-dcubZZHw.css">
  </head>
  <body>
    <div id="app"></div>
  </body>
</html>
